@-moz-document domain("gitlab.com") {
/* Userstyle for Gitlab.com. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo /*
/* Version 1.0.5 29/11/2016 09:17*/

/* I suggest you set your Syntax Highlighting Theme to "Dark" under your /profile/preferences Page.*/

body, h1, h2, h3, h4, h5, h6, .wiki h1, .wiki h2, .wiki h3, .wiki h4, .wiki p, .wiki, .md-page, .blog-entry h1, .blog-entry h2, .blog-entry h3, .blog-entry h4, .blog-entry h5, .md-page h1, .md-page h2, .md-page h3, .md-page h4, .md-page h5, .blog-entry p, .md-page p, .detail-page-description .title, p {
	color: #ffffff !important;	
}

body, .full-post {
	background-color: #1c1e22;
}

body.navless {
	background-color: #1c1e22 !important;
}

hr {
	border-top: 1px solid #696969;
}

/* ---Nav Bar--- */
header.navbar-gitlab, .row-content-block.content-component-block, .commit-header, .navbar-default {
	background-color: #1c1e22;
	border-bottom: 1px solid #696969;
}

.cover-block {
	background-color: #1e2125;
}

.nav-links {
	border-bottom: 1px solid #696969;
}

.row-content-block.white {
	background-color: #1e2125;
}

.content-wrapper .container-fluid {
	background-color: #1e2125;
}

.row-content-block {
	border-top: 1px solid #1e2125;
	border-bottom: 1px solid #1e2125;
	color: #959494;
}

/* ---Left Side Nav Bar--- */
body.ui_charcoal .page-with-sidebar .sidebar-wrapper {
	background: #1c1e22;
}

/* ---Left Side Nav Bar Button--- */
header.navbar-gitlab .side-nav-toggle {
	background-color: #1c1e22;
}

header.navbar-gitlab .side-nav-toggle:hover {
	background-color: rgba(255,255,255,0.05);
}

/* ---Event Items--- */
.event-item a {
	color: #EEEEEE;
}

.event-item .event-title {
	color: #CDCDCD;
}

.event-item {
	color: #b1b1b1;
	border-bottom: 1px solid #696969;
}

/* ---Search--- */
.dropdown-menu-toggle {
	background-color: #272b2f;
	color: #ffffff;
}

.form-control, .search form {
	background-color: #272b2f !important;
	border: 0px solid #e5e5e5;
	border-radius: 0px;
	color: #fff;
}

.dropdown-menu, .dropdown-menu-nav {
	background-color: #1c1e22;
	border: 0px solid rgba(0,0,0,0.1);
}

.dropdown-menu a, .dropdown-menu-nav a {
	color: #fff;
}

.dropdown-menu a:hover,.dropdown-menu-nav a:hover {
	background-color: rgba(255,255,255,0.05);
}

/* ---Hovering Form controls--- */
.form-actions, .row-content-block {
	background-color: #1c1e22;
	border-top: 1px solid #696969;
	color: #ffffff;
}

/* ---Code Entry Box--- */
.ace-tm, .code.white, .code.white pre.code, .code.white .line_holder .line_content {
	background-color: #1c1e22;
	color: white;
}

.ace-tm .ace_gutter, .file-editor .ace_gutter-cell {
	background: #272b2f;
	color: #fff;
}

.file-holder {
	border: 1px solid #696969;
}

.file-holder .file-title {
	background-color: #1e2125;
	border-bottom: 1px solid #696969;
}

code {
	color: #fff;
	background-color: #343940;
}

/* ------More Code Viewing and Syntax Tweaks------ */
.code.white .line-numbers, .code.white .diff-line-num {
	background-color: #1e2125;
	color: #f0f0f0;
}

.code.white pre.code, .code.white .diff-line-num {
	border-color: #333333;
}

/* ---Permalink Highlighted line--- */
.code.white .line.hll {
	background-color: #333333 !important;
}

/* ---Syntax Highlighting Tweaks--- */
.code.white .line span.k, .code.white .line span.kd {
	color: #80e0e0;
}

.code.white .line span.n, .code.white .line span.nn, .code.white .line span.o {
	color: #f0f0f0;
}

.code.white .line span.kt, .code.white .line span.nc {
	color: #a0a0f0;
}

.code.white .line span.na, .code.white .line span.mi {
	color: #00e080;
}

.code.white .line span.nf {
	color: #ff6060;
}

.code.white .line span.s {
	color: #e050e0;
}

/* ---Commit Code View Diff Addition Green Background--- */
.code.white .line_holder .line_content.new, .code.white .line_holder .diff-line-num.new {
	background-color: #003811;
}

.code.white .line_holder .line_content.new span.idiff {
	background-color: #155627;
}

.code.white .diff-line-num, .code.white .diff-line-num a {
	color: #f0f0f0;
}

/* ---Commit Code View Diff Deleted Red Background--- */
.code.white .line_holder .line_content.old, .code.white .line_holder .diff-line-num.old {
	background-color: #b33f4c;
}

.code.white .line_holder .line_content.old span.idiff {
	background-color: #80081a;
}

/* ---Privacy Options of Repo--- */
.project-visibility-level-holder .radio .option-title {
	color: #ffffff;
}

.project-visibility-level-holder .radio .option-descr {
	color: #b1b1b1;
}

/* ---Links--- */
.nav-links li.active a {
	border-bottom: 2px solid #236dde;
	color: #fff;
}

.nav-links li .badge {
	background-color: #424242;
	color: #ffffff;
}

ul.content-list>li a {
	color: #fff;
}

ul.content-list>li {
	color: #b1b1b1;
}

/* ---Page Controls--- */
.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:hover, .pagination>.active>span:focus {
	color: #ffffff;
	background-color: #272b2f;
	border-color: rgba(229, 229, 229, 0);
}

.pagination>li>a, .pagination>li>span {
	color: #9c9b9b;
	background-color: #272b2f;
	border: 0px solid rgba(229, 229, 229, 0);
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
	color: #848484;
	background-color: #393e44;
}

/* ---Avatar Menu Background Fix--- */
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, header.navbar-gitlab .container-fluid .nav>li>a:hover, header.navbar-gitlab .container-fluid .nav>li>a:focus, header.navbar-gitlab .container-fluid .nav>li>a:active, table.table tr th, .file-holder table tr th, .wiki table tr th, .md table tr th, ul.notes .note .note-body .note-text table tr th {
	background-color: #1c1e22;
}

.layout-nav {
	background: #1c1e22;
	border-bottom: 1px solid #696969;
}

/* ---Profile Settings--- */
.layout-nav .nav-links li.active a, .layout-nav .nav-links li.active i {
	color: #fff;
}

.layout-nav .nav-links li a:hover, .layout-nav .nav-links li i:hover {
	color: #fff;
}

.provider-btn {
	background-color: #272b2f;
}

.provider-btn-group {
	border: 1px solid #3c3c3c;
	border-radius: 0px;
}

.provider-btn-image {
	border-right: 1px solid #696969;
}

.btn, .snippet-file-content .btn-clipboard {
	border-radius: 0px;
	background-color: #1c1e22;
	border-color: #696969;
	color: #ffffff;
}

.input-group .input-group-addon {
	background-color: #2e3338;
	color: white;
	border: 0px;
}

.btn:hover, .snippet-file-content .btn-clipboard:hover, .btn:focus, .snippet-file-content .btn-clipboard:focus {
	background-color: #272b2f;
	border-color: #696969;
	color: #ffffff;
}

.account-well {
	background-color: #1c1e22;
	border: 1px solid #696969;
}

.well-list>li:hover {
	background: #272b2f;
}

/* ---Search Results--- */
.well, .search_box {
	background-color: #1c1e22;
	border: 1px solid #696969;
}

/* ---Settings Warning Message--- */
.settings-message {
	color: #fc6d26;
	background-color: #000000;
	border: 1px solid #fc6d26;
}

/* ---Repo Pages--- */
.project-home-panel .project-title {
	background-color: #e24329;
}

pre.light-well, pre.description-block {
	border-color: #696969;
}

.light-well, .description-block, pre {
	background-color: #1c1e22;
	color: white !important;
	border-color: #696969;
}

.btn, .snippet-file-content .btn-clipboard {
	background-color: #1c1e22 !important;
	border-color: rgba(229, 229, 229, 0) !important;
	color: #ffffff !important;
}

.project-repo-buttons .count-with-arrow .count, .project-repo-buttons .count-with-arrow .count:hover {
	border-color: rgba(220, 220, 220, 0);
	color: #ffffff;
	background: #1c1e22;
}

.nav-links.sub-nav .container-fluid, .nav-links.sub-nav {
	background-color: #1c1e22;
}

ul.content-list>li {
	border-color: #696969;
}

/* ---Repo Settings--- */
.bs-callout-info {
	background-color: #1c1e22;
}

/* ---Gitlab Issues--- */
.board-blank-state, .board-list {
	background-color: #1c1e22;
}

ul.notes .system-note {
	background: #1c1e22;
}

.board-header {
	background-color: #1c1e22;
}

/* ---Mark Down / Wiki--- */
.note-textarea {
	color: #ffffff;
}
.markdown-area {
	background: #1c1e22;
}

.sub-header-block {
	background-color: #1e2125;
	border-bottom: 1px solid #1e2125;
}

legend {
	border-bottom: 1px solid #696969;
}

.file-editor .editor-ref {
	background: #1c1e22;
	border-right: 1px solid #696969;
}

/* ---Commit List--- */
.breadcrumb.repo-breadcrumb a {
	color: #f1f1f1;
}

.commit-row-title .commit-row-message {
	color: #eaeaea;
}

.commit .commit-row-info {
	color: #bdbdbd;
	line-height: 1.35;
}

.commit .commit-row-info a {
	color: #717171;
}

.tint-box, #contributors .person .spark, .card {
	background: #1c1e22;
}

/* ---Merges--- */
.merge-request.today, .issue.today, .merge-request.closed, .issue.closed, .merge-request.merged, .issue.merged {
	background: #1c1e22;
	border-color: #696969;
}

/*--- File Names--- */
.tree-holder .tree-item .tree-item-file-name i, .tree-holder .tree-item .tree-item-file-name a {
	color: #fff;
}

.tree-holder .tree-table tr:hover td {
	background-color: #1c1e22;
	border-top: 1px solid #e24329;
	border-bottom: 1px solid #e24329;
}

.file-holder .file-content {
	background: #1c1e22;
}

.blob-commit-info {
	background: #1c1e22;
	border: 1px solid #696969;
}

/* ---Edit Button--- */
.btn-file-option {
	background: linear-gradient(180deg, #020202 25%, #000000 100%);
}

/* ---Group Repos--- */
.cover-block.groups-cover-block {
	background: #1c1e22;
	border-bottom: 1px solid #696969;
}

.cover-block .group-info h1 {
	color: #fff;
	background-color: #1e2125;
}

.panel {
	background-color: #1c1e22;
}

.panel-default>.panel-heading {
	color: #5c5c5c;
	background-color: #1c1e22;
	border-color: #696969;
}

.panel-default {
	border-color: #696969;
}

.mr-state-widget {
	background: #1c1e22;
	color: #5c5c5c;
	border: 1px solid #696969;
}

.mr-state-widget .ci_widget {
	border-bottom: 1px solid #696969;
}

/* ---Search Filter--- */
.search .location-badge {
	color: #e7e9ed;
	background-color: #363c42;
}

.right-sidebar {
	background: #1e2125;
	border-left: 1px solid #696969;
}

/* ---Commit List--- */
.branch-commit .commit-id, .branch-commit .commit-row-message {
	color: #9c9c9c;
}

.commit a, .commit button {
	color: #a0a0a0;
}

.table-holder .builds th {
	background-color: #1c1e22
}

.row-content-block.build-content {
	background-color: #1c1e22;
}

/* ---Footer--- */
.panel-footer {
	background-color: #1c1e22;
	border-top: 1px solid #696969;
}

/* ---Search Box on main website--- */
.search-box.is-open .search-input {
	color: black;
}

/* ---delete file confirmation box--- */
.modal-content {
	background: #1e2125;
	border: 1px solid #696969;
	color: #ffffff !important;
}

/* ------Octotree Extension Support Code------ */

/* ---header--- */
.octotree_gitlab_sidebar .octotree_views .octotree_view .octotree_view_header {
	background: #1e2125;
	color: #ffffff !important;
	text-shadow: none !important;
}

.octotree_gitlab_sidebar .octotree_views .octotree_treeview .octotree_header_repo,
.octotree_gitlab_sidebar .octotree_views .octotree_treeview .octotree_header_repo a
{
	color: #ffffff;
	text-shadow: none !important;
}

.octotree_gitlab_sidebar .octotree_views .octotree_treeview .octotree_header_repo::before {
	color: #ffffff;
}

.octotree_gitlab_sidebar a.octotree_opts, .octotree_gitlab_sidebar a.octotree_toggle
{
	color: #c0c0c0 !important;
}

/* ---main body--- */
.octotree_gitlab_sidebar {
	background: #1e2125;
	border-left: 1px solid #696969;
	color: #ffffff !important;
}

/* ---elements in tree view---*/
.octotree_gitlab_sidebar .octotree_views .octotree_treeview .jstree-anchor 
{
	color: #ffffff !important;
}

/* ---hover over row---*/
.jstree-wholerow-hovered {
	background: #333 !important;
}

/* ---row clicked---*/
.jstree-wholerow-clicked {
	background: #182030 !important;
}

/* ---folder icons---*/
.octotree_views .octotree_treeview .jstree-anchor .jstree-icon.tree:before {
	color: #fff !important;
}

/* ---file icons---*/
.octotree_gitlab_sidebar .octotree_views .octotree_treeview .jstree-icon.blob:before {
	color: #ffffff !important;
}

/* ---folder triangle icons---*/
.jstree-icon.jstree-ocl {
	-webkit-filter: invert(100%) hue-rotate(180deg) !important;
	filter: invert(100%) hue-rotate(180deg) !important;
}
}