@-moz-document url-prefix("https://demo.rocket.chat/"), url-prefix("https://chat.opsech.io") {
/* Userstyle for https://demo.rocket.chat/. Created by: 2E0PGS */
/* Based on: https://userstyles.org/styles/125929/rocket-chat-dark-slate */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo /*
/* Version 1.1.4 03/10/2016 13:25*/

code {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace !important;
}

.account-box .info {
	background-color: #1c1e22 !important;
}

.side-nav .rooms-list {
	background-color: #1c1e22 !important;
}

.side-nav .unread-rooms {
	background-color: #6D6D6D !important;
}

.side-nav .unread {
	background-color: #6D6D6D !important;
}

.side-nav .footer {
	background-color: #1c1e22 !important;
}

.fixed-title {
	background-color: #1c1e22 !important;
	color: white !important;
	border-bottom-color: #696969;
}

.messages-box {
	background-color: #333;
	background-color: #1c1e22;
}

.messages-box ul  {
	color: #CDCDCD;
}

.messages-box ul > li:nth-child(odd) {
	background-color: #1c1e22;
}
.messages-box ul > li:nth-child(even) {
	background-color: #1e2125;
}

.message .user {
	color: #D0D0D0;
}

div.body a {
	color: #D0D0D0 !important;
}

.mention-link {
	color: #EFEFEF !important;
}

.message.new-day:before {
	background-color: #333 !important;
	color: #EEEEEE;
	font-size: 1.1em;
}

.message .user:hover {
	color: #EEEEEE;
}


.messages-container .footer {
	background-color: #1c1e22 !important;
	border-top-color: #696969;
}

.messages-container .message-form>div>.file {
	background-color: #2b2c2f !important;
	border-color: #999 !important;
}

.messages-container .message-form textarea {
	background-color: #2b2c2f !important;
	border-color: #696969;
	color: #EEEEEE;
}

.icon-paper-plane, .send-button {
	background-color: #434343 !important;
	
}

.flex-tab-bar, .tab-button {
	background-color: #1c1e22 !important;
	border-color: #24777a !important;
	color: #a2a2a2;
}

.flex-tab-bar {
	border-color: #757575 !important;
}

.message.new-day .day-divider {
	background-color: #1e2125;
}

.flex-tab .content>div, .content, .flex-tab .message.new-day .day-divider {
	background-color: #1e2125 !important;
	color: white;
}

.message.new-day .day-divider span, .flex-tab .message.new-day .day-divider span {
	background-color: #696969;
	color: white;
}

/* ---Message InputBox--- */
.messages-container .message-form .stream-info {
	background: #1c1e22;
}

.messages-container .message-form>.message-input>.file, .messages-container .message-form>.message-input .message-buttons, .messages-container .message-form>.message-input {
	color: #a2a2a2;
	background-color: #2b2c2f;
	border-color: #1c1e22;
}

.messages-container {
	border-right-color: #1c1e22;
}

.message .info .is-bot, .message .info .role-tag, .user-view .info .role-tag {
	background-color: #3a61ec;
}

.list-view.uploaded-files-list i {
	color: #fff;
}

/* ---Made the code box dark--- */
.hljs, code {
	background: #1f1f1f;
	color: #fff;
	border-color: #636363;
}

/* ---Syntax Highlighting Patches--- */
.hljs-deletion {
	background: #903a3a;
}

.hljs-addition {
	background: #2b842b;
}

/* ---Fixed icons to make them more viewable on dark background--- */
.message .message-dropdown ul li {
	color: #fbfbfb;
}

/* ---Made message edit options dark on selection and highlight--- */
.message .message-dropdown ul li:hover, .message .message-dropdown ul li:first-child {
	background-color: #1d1c1c;
}

/* ---Prevent page from blasting white in your face when loading--- */
#rocket-chat {
	background-color: #1c1e22;
}

.messages-container .message-form .formatting-tips {
	color: #fff;
}

/* ---Fix Dark Links--- */
a {
	color: #33fdff;
}

a:hover {
	color: #fff;
}

/* ---Edit Message--- */
.messages-box .editing .body {
	background-color: #696969;
	color: white;
}

/* ---Fix Admin Area--- */
.flex-tab .content>div, .content, .flex-tab .message.new-day .day-divider {
	background-color: #1e2125 !important;
	color: #a2a3a5;
}

.statistics-table {
	border-color: #696969;
}

.statistics-table tr {
	background-color: #1e2125;
}

.statistics-table tr:nth-of-type(even) {
	background-color: #24282d;
}

.page-settings .section {
	background-color: #1e2125;
	color: white;
}

.page-settings .section .section-content .input-line>label {
	color: white;
}

.page-list .list table tbody tr:nth-child(odd) {
	background-color: #282c31;
}

.page-list .list table tbody tr.row-link:hover {
	background-color: #4c4c4c;
}


/* ---Searchbox on Rooms Admin--- */
textarea, select, input[type='text'], input[type='number'], input[type='email'], input[type='url'], input[type='password'], input[type='time'] {
	border-color: #696969;
	background-color: #1e2125;
	color: white;
	border-radius: 0px;
}

/* ---Admin Intergrations Page--- */
.admin-integrations-new-panel .admin-integrations-new-item:hover {
	background-color: #4c4c4c;
}

.admin-integrations-new-panel .admin-integrations-new-item {
	color: #fff;
}

.input-line>label {
	color: #fff;
}

.page-settings .section .section-content .input-line input {
	color: #fff;
	background-color: #1e2125 !important;
}

.page-settings .section .section-title {
	color: #a2a2a2;
}

.page-settings .content {
	color: #9a9a9a;
}

/* ---Disabled Input Boxes--- */
input[readonly], input[disabled], textarea[readonly], textarea[disabled] {
	background-color: #757575 !important;
}

/* ---Alert--- */
.page-settings .section .section-content .input-line .settings-alert {
	background-color: #000000;
	border: 1px solid #ff0000;
	color: red;
}

/* ---Permission Table--- */
.permissions-manager .permission-grid thead tr {
	background-color: #4c4c4c;
}

.permissions-manager .permission-grid td * {
	color: #fff;
}

/* ---Buttons--- */
.button, .button.secondary {
	background-color: #2b2e33;
	color: #adadad;
}

.button:hover, .button.secondary:hover {
	background-color: #1a1c1f;
}

.messages-container .message-form>.message-input>.file:hover, .messages-container .message-form>.message-input .message-buttons:hover {
	color: white;
	background-color: #1c1e22;
}

/* ---Video Input Popup Box--- */
.vrec-dialog {
	background-color: #1e2125;
}

/* ---Unread Message Bar---*/
.container-bars .unread-bar {
	background-color: #333;
	color: #068fe4;
}

/* ---Emoji Picker--- */
.emoji-picker {
	background-color: #1e2125;
}

.emoji-picker .filter>ul>li, .emoji-picker .filter>ul>li:hover {
	border-bottom: 2px solid #1e2125;
}

.emoji-picker .filter>ul>li.active {
	border-bottom: 2px solid #ffffff;
}

/* ---Avatar Selection--- */
.avatar-suggestion-item {
	background-color: #1e2125;
	border-color: #696969;
}

/* ---Fix white login page text--- */
#login-card .input-text input, #login-card .input-text select {
	color: black;
}
}